.body {
	position: relative;
	transition: all 0.4s ease-in-out;
	font-family: 'Arial-MT', sans-serif;
	background: center/cover, #00000080;
	background-blend-mode: multiply;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 15px;
	box-sizing: content-box;
}
