.body {
	transition: background-image 0.8s ease-in-out;
	font-family: 'Arial-MT', sans-serif;
	background: center/cover, #00000080;
	background-blend-mode: multiply;

	&_fixed {
		overflow: hidden;
		cursor: pointer;
	}
}

.wrapper {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 1920px;
	min-width: 320px;
	height: 100%;
	margin: 0 auto;
	padding: clamp(6px, 1.5vw, 10px);
}
