@use '../media';
@use '../mixins';
@use '../template-selectors';

.header {
	display: flex;
	justify-content: space-between;

	@include media.smallestMobile {
		flex-direction: column;
		align-items: center;
		gap: 20px 0;
	}
}

.player {
	@include mixins.flex($direction: column, $justify: flex-start, $alignItems: center);
	z-index: 1;
	padding: 6px 10px;
	max-width: 245px;
	min-width: 232px;
	height: fit-content;
	border-radius: 20px;
	background: var(--black-background);
	color: var(--white);
	box-shadow: var(--blocks-box-shadow);
	transition: opacity 0.5s ease;
	user-select: none;

	@include media.desktop {
		max-width: 235px;
		min-width: 215px;
	}

	@include media.tablet {
		max-width: 205px;
		min-width: 196px;
	}

	@include media.mobile {
		padding: 4px 8px;
		max-width: 192px;
		min-width: 190px;
	}

	@include media.smallMobile {
		max-width: 177px;
		min-width: 169px;
	}

	@include media.smallestMobile {
		display: none;
	}

	&__track-name {
		margin-bottom: 2px;
		opacity: 0.8;
		font-size: 15.5px;
		letter-spacing: 0.6px;

		@include media.desktop {
			font-size: 14.5px;
			letter-spacing: 0.4px;
		}

		@include media.tablet {
			margin-bottom: 0px;
			font-size: 13px;
		}

		@include media.mobile {
			font-size: 12.5px;
		}

		@include media.smallMobile {
			font-size: 11.7px;
			letter-spacing: 0.2px;
		}

		&_active {
			opacity: 1;
			animation: changeColor 2s infinite;
		}
	}

	&__progress {
		position: relative;
		display: flex;
		margin-bottom: 4px;
		width: 100%;
		font-size: 11px;

		@include media.desktop {
			font-size: 9.5px;
		}

		@include media.tablet {
			font-size: 8.5px;
		}

		@include media.smallMobile {
			font-size: 7.5px;
		}
	}

	&__current-time {
		@extend %trackTime;
		left: 0;
	}

	&__duration-time {
		@extend %trackTime;
		right: 0;
	}

	&__progress-input {
		@include mixins.sizes(100%, 18px);

		&_pointer {
			cursor: pointer;

			@include media.hoverOrActive {
				opacity: 1;
			}
		}
	}

	&__playback {
		@include mixins.flex($alignItems: center, $gap: 0 10px);
		margin-bottom: 6px;

		@include media.tablet {
			gap: 0 8px;
		}
	}

	&__playback-prev,
	&__playback-next {
		@extend %playerOpacity;
		@include mixins.sizes(38px, 38px);

		@include media.desktop {
			@include mixins.sizes(36px, 36px);
		}

		@include media.tablet {
			@include mixins.sizes(32px, 32px);
		}

		@include media.mobile {
			@include mixins.sizes(30px, 30px);
		}

		@include media.hoverOrActive {
			opacity: 1;
		}
	}

	&__playback-play {
		@include mixins.sizes(48px, 48px);
		@extend %playerOpacity;

		@include media.desktop {
			@include mixins.sizes(46px, 46px);
		}

		@include media.tablet {
			@include mixins.sizes(42px, 42px);
		}

		@include media.mobile {
			@include mixins.sizes(40px, 40px);
		}

		@include media.hoverOrActive {
			opacity: 1;
		}

		&_active {
			animation: turnAround 2s linear 0s infinite;
			opacity: 1;
		}
	}

	&__volume {
		@extend %flexCenter;
		gap: 0 10px;
		margin-bottom: 13px;
		width: 100%;

		@include media.desktop {
			margin-bottom: 10px;
		}

		@include media.tablet {
			display: none
		}
	}

	&__volume-mute {
		@include mixins.sizes(24px, 24px);
		@extend %playerOpacity;

		@include media.desktop {
			@include mixins.sizes(22px, 22px);
		}

		@include media.tablet {
			@include mixins.sizes(18px, 18px);
		}

		@include media.hoverOrActive {
			opacity: 1;
		}
	}

	&__input {
		@include mixins.playerInputs;
	}

	&__volume-input {
		@include mixins.sizes(80%, 18px);
		cursor: pointer;

		@include media.hoverOrActive {
			opacity: 1;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px 0;

		@include media.desktop {
			gap: 11px 0;
		}

		@include media.tablet {
			gap: 9px 0;
		}
	}

	&__list-item {
		position: relative;
		@extend %playerOpacity;
		font-size: 15px;
		letter-spacing: 0.8px;
		cursor: pointer;

		@include media.desktop {
			font-size: 14px;
		}

		@include media.tablet {
			font-size: 13px;
			letter-spacing: 0.6px;
		}

		@include media.mobile {
			letter-spacing: 0.3px;
		}

		@include media.smallMobile {
			font-size: 12px;
		}

		&_active {
			opacity: 1;
			color: var(--orange);
		}

		@include media.hoverOrActive {
			opacity: 0.8;
		}
	}
}

.settings {
	z-index: 2;

	&__header {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		@include mixins.flex($alignItems: center, $gap: 0 10px);
		cursor: pointer;

		@include media.tablet {
			gap: 0 5px;
		}

		@include media.smallMobile {
			position: relative;
		}

		@include media.hoverOrActive {

			.settings__button,
			.settings__title {
				opacity: 1;
			}
		}
	}

	&__title {
		padding-bottom: 4px;
		opacity: 0.8;
		font-size: 17px;
		letter-spacing: 2.3px;
		transition: all 0.5s linear;
		border-bottom: 3px solid var(--white);
		color: var(--white);

		@include media.desktop {
			padding-bottom: 2px;
			font-size: 16px;
		}

		@include media.tablet {
			font-size: 15px;
		}

		@include media.mobile {
			display: none;
		}

		@include media.smallestMobile {
			display: block;
		}

		&_active {
			opacity: 1;
			border-bottom-color: var(--orange);
		}
	}

	&__button {
		@include mixins.sizes(28px, 28px);
		transition:
			opacity 0.5s linear,
			transform 0.4s linear;
		opacity: 0.8;

		@include media.desktop {
			@include mixins.sizes(26px, 26px);
		}

		@include media.tablet {
			@include mixins.sizes(25px, 25px);
		}

		&_active {
			transform: rotate(180deg);
			opacity: 1;
		}
	}

	&__menu {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		display: flex;
		flex-direction: column;
		gap: 20px 0;
		padding-top: 8px;
		width: 500px;
		opacity: 0;
		border: solid 1px rgb(138, 138, 138);
		border-radius: 8px;
		pointer-events: none;
		background: rgb(54, 54, 54);
		transition: opacity 0.5s ease;

		@include media.tablet {
			gap: 18px 0;
			width: 455px;
		}

		@include media.mobile {
			padding-top: 7px;
			width: 350px;
		}

		@include media.smallMobile {
			width: 300px;
		}

		@include media.smallestMobile {
			width: 250px;
		}

		&_show {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__close-button {
		@include mixins.closeButtonStyles;
		@include mixins.closeButtonSizes(-38px, -38px, 34px, 34px, 22px);

		@include media.tablet {
			@include mixins.closeButtonSizes(-36px, -36px, 32px, 32px, 20px);
		}

		@include media.smallestMobile {
			@include mixins.closeButtonSizes(-32px, -32px, 30px, 30px, 17px);
		}

		@include media.hoverOrActive {
			color: var(--orange);
		}

		&_hover {
			color: var(--orange);
		}
	}

	&__query,
	&__source,
	&__language {
		@include mixins.flex($justify: space-between, $alignItems: center);
		padding-inline: 5px;

		@include media.mobile {
			flex-direction: column;
		}

		& span {
			color: var(--white);
			pointer-events: none;
			user-select: none;
		}

		& label {
			color: var(--white);
			cursor: pointer;
		}
	}

	&__blocks-hide-title {
		margin-bottom: 10px;
		font-size: 18px;
		color: var(--white);
		text-align: center;
		pointer-events: none;

		@include media.tablet {
			font-size: 17px;
		}

		@include media.mobile {
			margin-bottom: 8px;
			font-size: 18px;
		}

		@include media.smallestMobile {
			font-size: 17px;
		}
	}

	&__blocks-hide-inner {
		@include mixins.flex($alignItems: center, $justify: space-between);
		padding: 8px 5px;
		border-top: 1px solid var(--white);
		cursor: pointer;

		&:first-of-type {
			@include media.smallestMobile {
				display: none;
			}
		}

		&>input[type='checkbox'] {
			position: relative;
			@include mixins.sizes(51px, 21px);
			appearance: none;
			background-color: var(--grey);
			border-radius: 20px;
			transition: 0.5s;
			box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
			cursor: pointer;

			@include media.tablet {
				@include mixins.sizes(49px, 20px);
			}

			@include media.mobile {
				@include mixins.sizes(50px, 21px);
			}

			@include media.smallestMobile {
				@include mixins.sizes(46px, 19px);
			}
		}

		&>input:checked[type='checkbox'] {
			background-color: var(--orange);
		}

		&>input:checked[type='checkbox']::before {
			left: 30px;

			@include media.tablet {
				left: 27px;
			}

			@include media.mobile {
				left: 28px;
			}
		}

		&>input[type='checkbox']:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			@include mixins.sizes(21px, 21px);
			border-radius: 20px;
			background-color: var(--white);
			transform: scale(1.2);
			transition: 0.5s;

			@include media.tablet {
				@include mixins.sizes(20px, 20px);
			}

			@include media.mobile {
				@include mixins.sizes(21px, 21px);
			}

			@include media.smallestMobile {
				@include mixins.sizes(19px, 19px);
			}
		}

		@include media.hoverOrActive {
			opacity: 0.7;
		}
	}

	&__blocks-hide-label {
		@extend %settingsDescriptionFont;
		color: var(--white);
	}

	&__blocks-hide_hide {
		opacity: 0;
		pointer-events: none;
	}

	&__shadow {
		@include mixins.shadow;
		z-index: -1;

		&_show {
			display: block;
		}
	}

	&__language-description {
		@extend %settingsDescriptionFont;

		@include media.mobile {
			margin-bottom: 6px;
		}
	}

	&__language-inner {
		@extend %languageSelectWrapper;

		&_ru {
			&::before {
				@extend %languageSelectIcon;
				content: url('images/svg/russianLanguageIcon.svg');
			}
		}

		&_en {
			&::before {
				@extend %languageSelectIcon;
				content: url('images/svg/englishLanguageIcon.svg');
			}
		}
	}

	&__language-select {
		@extend %languageSelect;
	}

	&__source-inner {
		@extend %languageSelectWrapper;
	}

	&__source-description {
		@extend %settingsDescriptionFont;

		@include media.mobile {
			margin-bottom: 6px;
		}
	}

	&__source-select {
		@extend %languageSelect;
	}

	&__query_hide {
		display: none;
	}

	&__query-label {
		@extend %settingsDescriptionFont;

		@include media.mobile {
			margin-bottom: 6px;
		}
	}

	&__query-input {
		@extend %languageSelect;
		cursor: auto;
	}
}

.weather {
	@include mixins.flex($direction: column, $justify: flex-start, $alignItems: center, $gap: 9px 0);
	padding: 5px;
	max-width: 224px;
	height: fit-content;
	font-size: 15px;
	border-radius: 21px;
	background: var(--black-background);
	color: var(--white);
	box-shadow: var(--blocks-box-shadow);
	transition: opacity 0.5s ease;

	&__items_hide {
		display: none;
	}

	@include media.desktop {
		max-width: 205px;
		font-size: 14.5px;
	}

	@include media.tablet {
		gap: 8px 0;
		max-width: 196px;
		font-size: 13.5px;
	}

	@include media.mobile {
		font-size: 13px;
		letter-spacing: 0.8px;
	}

	@include media.smallMobile {
		padding: 3px;
		gap: 6px 0;
		max-width: 150px;
		font-size: 11px;
		letter-spacing: 0.5px;
	}

	@include media.smallestMobile {
		gap: 5px 0;
		max-width: 240px;
		font-size: 14px;
	}

	&:focus-within .weather__icon {
		animation: shake 2s infinite;
	}

	&_error {
		display: none;
		margin: auto;
		user-select: none;
		text-align: center;

		&-show {
			display: block;
			margin: 20px;
		}
	}

	&__input {
		padding-bottom: 3px;
		width: 100%;
		font-size: 23px;
		letter-spacing: 1.2px;
		text-align: center;
		color: var(--white);

		@include media.desktop {
			font-size: 21px;
		}

		@include media.tablet {
			font-size: 18px;
		}

		@include media.mobile {
			font-size: 16px;
		}

		@include media.smallestMobile {
			font-size: 22px;
		}

		&:focus+.weather__hr {
			border-color: var(--orange);
		}
	}

	&__hr {
		margin: 0;
		margin-top: -7px;
		width: 100%;
	}

	&__icon {
		height: 28px;
		font-size: 36px;
		color: var(--white);

		@include media.desktop {
			height: 24px;
			font-size: 34px;
		}

		@include media.tablet {
			font-size: 32px;
		}

		@include media.mobile {
			font-size: 30px;
			height: 22px;
		}

		@include media.smallMobile {
			font-size: 26px;
			height: 20px;
		}

		@include media.smallestMobile {
			height: 24px;
			font-size: 31px;
		}
	}

	&__description {
		text-align: center;
	}

	&__temperature,
	&__description,
	&__wind,
	&__humidity {
		user-select: none;
	}
}