.header {
}
.weather {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	row-gap: 5px;
	width: 180px;
	min-height: 180px;
	text-align: left;
	background: linear-gradient(302deg, black, transparent);
	border-radius: 21px;
	width: 206px;
	height: 201px;
	color: var(--white);

	&_error {
	}

	&__input {
		width: 170px;
		height: 34px;
		padding: 5px;
		font-size: 20px;
		line-height: 24px;
		color: var(--white);
		border: 0;
		outline: 0;
		border-bottom: 1px solid var(--white);
		background-color: transparent;
	}

	&__icon {
		font-size: 44px;
		color: var(--white);
	}

	&__values {
	}

	&__values-temperature {
	}

	&__values-description {
	}

	&__wind {
	}

	&__humidity {
	}
}
