.header {
	display: flex;
	justify-content: space-between;
}

.player {
	@include flex($direction: column, $justify: flex-start, $alignItems: center);
	z-index: 1;
	padding: 10px 15px;
	min-width: 300px;
	height: fit-content;
	border-radius: 20px;
	background: var(--black-background);
	color: var(--white);
	box-shadow: var(--blocks-box-shadow);
	transition: opacity 0.5s ease;

	&__track-name {
		margin-bottom: 17px;
		opacity: 0.8;
		user-select: none;
		font-size: 18px;

		&_active {
			opacity: 1;
			animation: changeColor 2s infinite;
		}
	}

	&__progress-wrapper {
		position: relative;
		margin-bottom: 10px;
		width: 100%;
		font-size: 14px;
		letter-spacing: 1.8px;
	}

	&__current-time {
		@extend %trackTime;
		left: 0;
	}

	&__duration {
		@extend %trackTime;
		right: 0;
	}

	&__progress {
		@include sizes(100%, 6px);
		background-color: var(--progress-bg);

		&::-webkit-progress-bar {
			background-color: var(--progress-bg);
		}

		&::-webkit-progress-value {
			background-color: var(--blue);
		}
	}

	&__controls {
		@include flex($alignItems: center, $gap: 0 20px);
		margin-bottom: 10px;
		pointer-events: inherit;

		& svg {
			pointer-events: inherit;
		}

		&-prev,
		&-next {
			@include sizes(36px, 36px);
			@extend %playerOpacity;

			@include hoverOrActive {
				opacity: 1;
			}
		}

		&-play {
			@include sizes(46px, 46px);
			@extend %playerOpacity;

			@include hoverOrActive {
				opacity: 1;
			}

			&_active {
				animation: turnAround 2s linear 0s infinite;
			}
		}
	}

	&__sounds {
		@extend %flexCenter;
		gap: 0 10px;
		margin-bottom: 15px;
		width: 100%;

		&-mute {
			@include sizes(20px, 20px);
			@extend %playerOpacity;

			@include hoverOrActive {
				opacity: 1;
			}
		}

		&-volume {
			@include sizes(80%, 18px);
			@extend %playerOpacity;
			border-radius: 4px;
			appearance: none;
			overflow: hidden;
			cursor: pointer;

			&::-webkit-slider-thumb {
				@include volumeThumb;
			}

			&::-moz-range-thumb {
				@include volumeThumb;
			}

			&::-webkit-slider-runnable-track {
				@include volumeTrack;
			}

			&::-moz-range-track {
				@include volumeTrack;
			}

			@include hoverOrActive {
				opacity: 1;
			}
		}
	}

	&__list {
		@include flex($direction: column, $gap: 13px 0);

		&-item {
			position: relative;
			@extend %playerOpacity;
			cursor: pointer;
			letter-spacing: 1.6px;

			&_active {
				opacity: 1;
				color: var(--blue);
			}

			@include hoverOrActive {
				opacity: 0.8;
			}
		}
	}
}

.settings {
	&__icon {
		@include flex($alignItems: center, $gap: 0 10px);
		margin-bottom: 10px;
		cursor: pointer;

		@include hoverOrActive {
			.settings__button,
			.settings__title {
				opacity: 1;
			}
		}
	}

	&__title {
		padding-bottom: 4px;
		color: var(--white);
		letter-spacing: 2.3px;
		border-bottom: 3px solid var(--white);
		transition: all 0.5s linear;
		opacity: 0.8;
		font-size: 18px;

		&_active {
			opacity: 1;
			border-bottom-color: var(--blue);
		}
	}

	&__wrapper {
		position: absolute;
		left: calc(50% - 240px);
		top: 12%;
		z-index: 1;
		display: flex;
		flex-direction: column;
		gap: 20px 0;
		padding: 10px;
		width: 480px;
		opacity: 0;
		border: solid 1px rgb(138, 138, 138);
		border-radius: 8px;
		pointer-events: none;
		background: rgb(54, 54, 54);
		transition: opacity 0.5s ease;

		&_show {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__close-button {
		@include closeButton(28px, 28px, 18px);
	}

	&__inner {
		@include flex($justify: space-between, $alignItems: center);

		& span {
			color: var(--white);
			pointer-events: none;
		}

		& label {
			color: var(--white);
			cursor: pointer;
		}
	}

	&__button {
		@include sizes(32px, 32px);
		transition:
			opacity 0.5s linear,
			transform 0.4s linear;
		opacity: 0.8;

		&_active {
			transform: rotate(180deg);
			opacity: 1;
		}
	}

	&__show {
		&-title {
			font-size: 18px;
			color: var(--white);
			margin-bottom: 15px;
			text-align: center;
			pointer-events: none;
		}

		&-inner {
			@include flex($alignItems: center, $justify: space-between);
			border-top: 1px solid var(--white);

			& > input[type='checkbox'] {
				position: relative;
				@include sizes(50px, 20px);
				appearance: none;
				background-color: var(--grey);
				border-radius: 20px;
				transition: 0.5s;
				cursor: pointer;
				box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
			}
			& > input:checked[type='checkbox'] {
				background-color: var(--blue);
			}

			& > input:checked[type='checkbox']::before {
				left: 25px;
			}

			& > input[type='checkbox']:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				@include sizes(20px, 20px);
				border-radius: 20px;
				background-color: var(--white);
				transform: scale(1.2);
				transition: 0.5s;
			}

			@include hoverOrActive {
				opacity: 0.7;
			}
		}

		&-label {
			width: 100%;
			padding: 11px 6px;
			cursor: pointer;
			color: var(--white);
			@extend %settingsDescriptionFont;
		}

		&_hide {
			opacity: 0;
			pointer-events: none;
		}
	}
}

.language {
	&__description {
		@extend %settingsDescriptionFont;
	}
	&__inner {
		@extend %languageSelectWrapper;

		&_ru {
			&::before {
				@extend %languageSelectIcon;
				content: url('../../../images/svg/russianLanguageIcon.svg');
			}
		}

		&_en {
			&::before {
				@extend %languageSelectIcon;
				content: url('../../../images/svg/englishLanguageIcon.svg');
			}
		}
	}
	&__select {
		@extend %languageSelect;

		&_open::after {
			transform: rotate(180deg);
		}
	}
}

.source {
	@extend %languageSelectWrapper;

	&__description {
		@extend %settingsDescriptionFont;
	}

	&__select {
		@extend %languageSelect;

		&_open::after {
			transform: rotate(180deg);
		}
	}
}

.query {
	&_hide {
		display: none;
	}

	&__label {
		@extend %settingsDescriptionFont;
	}

	&__input {
		@extend %languageSelect;
		cursor: auto;
	}
}

.weather {
	@include flex($direction: column, $justify: flex-start, $alignItems: center, $gap: 6px 0);
	padding: 5px;
	max-width: 283px;
	min-height: 180px;
	border-radius: 21px;
	height: fit-content;
	background: var(--black-background);
	color: var(--white);
	font-size: 17px;
	box-shadow: var(--blocks-box-shadow);
	transition: opacity 0.5s ease;

	&:focus-within .weather__icon {
		animation: shake 2s infinite;
	}

	&_error {
		margin: auto;
		display: none;
		user-select: none;
	}

	&__input {
		padding: 5px;
		line-height: 24px;
		color: var(--white);
		border-bottom: 1px solid var(--white);
		background-color: transparent;
		font-size: 22px;
		letter-spacing: 2px;
		text-align: center;

		&:focus {
			border-bottom-color: var(--blue);
		}
	}

	&__icon {
		font-size: 42px;
		color: var(--white);
	}

	&__temperature,
	&__description,
	&__wind,
	&__humidity {
		user-select: none;
	}
}
