.main {
	position: relative;
	@extend %flexCenter;
	flex-direction: column;
	flex: 1;
	user-select: none;
}

.slider {
	&__button {
		position: absolute;
		top: calc(50% - 16px);
		@include sizes(32px, 32px);
		background-color: transparent;
		cursor: pointer;

		&_prev {
			left: 4%;

			@include smallMobile {
				left: 1%;
			}
		}

		&_next {
			right: 4%;

			@include smallMobile {
				right: 1%;
			}
		}
	}

	&__popup {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 3;
		display: none;
		min-width: 560px;
		min-height: 180px;
		border: solid 1px rgb(138, 138, 138);
		border-radius: 8px;
		background: rgb(54, 54, 54);
		transform: translate(-50%, -50%);
		cursor: auto;

		@include desktop {
			min-width: 500px;
			min-height: 160px;
		}

		@include tablet {
			min-width: 470px;
		}

		@include mobile {
			min-width: 350px;
			min-height: 125px;
		}

		@include smallMobile {
			min-width: 314px;
			min-height: 110px;
		}

		@include smallestMobile {
			min-width: 262px;
			min-height: 100px;
		}

		&_show {
			@include flex($justify: center, $alignItems: center);
		}

		&-message {
			font-size: 20px;
			letter-spacing: 1.5px;
			text-align: center;
			color: var(--white);

			@include desktop {
				font-size: 19px;
			}

			@include tablet {
				font-size: 18px;
			}

			@include mobile {
				font-size: 15px;
			}

			@include smallMobile {
				font-size: 13.3px;
			}

			@include smallestMobile {
				font-size: 11px;
			}
		}

		&-close-button {
			@include closeButtonStyles;
			@include closeButtonSizes(-40px, -40px, 38px, 38px, 20px);

			@include hoverOrActive {
				color: var(--orange);
			}

			@include tablet {
				@include closeButtonSizes(-38px, -38px, 36px, 36px, 18px);
			}

			@include mobile {
				@include closeButtonSizes(-36px, -36px, 34px, 34px, 16px);
			}

			@include smallMobile {
				@include closeButtonSizes(-30px, -30px, 30px, 30px, 15px);
			}

			@include smallestMobile {
				@include closeButtonSizes(-28px, -28px, 28px, 28px, 15px);
			}

			&_hover {
				color: var(--orange);
			}
		}
	}
}

.data {
	@include flex($direction: column, $alignItems: center);
	user-select: none;

	&__time {
		padding: 6px;
		margin-bottom: 4px;
		border-radius: 15px;
		font-size: 92px;
		color: var(--white);
		background: var(--black-background);
		transition: opacity 0.5s ease;

		@include desktop {
			font-size: 82px;
		}

		@include tablet {
			font-size: 74px;
		}

		@include mobile {
			margin-bottom: 2px;
			font-size: 72px;
		}

		@include smallMobile {
			font-size: 62px;
		}

		@include smallestMobile {
			font-size: 58px;
		}
	}

	&__date {
		margin-bottom: 8px;
		font-size: 22px;
		color: var(--white);
		transition: opacity 0.5s ease;

		@include desktop {
			margin-bottom: 6px;
			font-size: 17px;
		}

		@include tablet {
			font-size: 16px;
		}

		@include mobile {
			margin-bottom: 6px;
			font-size: 15px;
		}

		@include smallestMobile {
			margin-bottom: 4px;
			font-size: 14px;
		}

		&::first-letter {
			text-transform: uppercase;
		}
	}
}
.greeting {
	display: flex;
	justify-content: center;
	gap: 0 10px;
	width: 100%;
	font-size: 34px;
	transition: opacity 0.5s ease;

	@include desktop {
		font-size: 30px;
	}

	@include tablet {
		font-size: 26px;
	}

	@include mobile {
		font-size: 23px;
	}

	@include smallMobile {
		font-size: 21px;
	}

	@include smallestMobile {
		letter-spacing: 0;
		font-size: 19.5px;
	}

	&__text {
		color: var(--white);
		user-select: none;
	}

	&__name {
		min-width: 10%;
		background: transparent;
		color: var(--white);
		letter-spacing: -0.6px;

		&:focus {
			box-shadow: 0px 1px 0px 0px var(--white);
		}
	}

	&__popup {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 3;
		display: none;
		@include sizes(64%, 34%);
		border: solid 1px rgb(138, 138, 138);
		border-radius: 8px;
		background: rgb(54, 54, 54);
		transform: translate(-50%, -50%);
		cursor: auto;

		@include tablet {
			@include sizes(70%, 30%);
		}

		@include mobile {
			height: 24%;
		}

		@include smallMobile {
			@include sizes(74%, 18%);
		}

		&_show {
			@include flex($justify: center, $alignItems: center);
		}

		&-message {
			font-size: 21px;
			letter-spacing: 1.5px;
			color: var(--white);

			@include tablet {
				font-size: 19px;
			}

			@include mobile {
				font-size: 16.5px;
			}

			@include smallMobile {
				font-size: 15px;
			}

			@include smallestMobile {
				font-size: 14px;
			}
		}

		&-close-button {
			@include closeButtonStyles;
			@include closeButtonSizes(-40px, -40px, 38px, 38px, 20px);

			@include hoverOrActive {
				color: var(--orange);
			}

			@include tablet {
				@include closeButtonSizes(-38px, -38px, 36px, 36px, 18px);
			}

			@include mobile {
				@include closeButtonSizes(-36px, -36px, 34px, 34px, 16px);
			}

			@include smallMobile {
				@include closeButtonSizes(-33px, -33px, 32px, 32px, 15px);
			}

			&_hover {
				color: var(--orange);
			}
		}
	}
}

.popup__shadow {
	position: fixed;
	display: none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.8);

	&-slider_show {
		display: block;
		z-index: 2;
	}

	&-settings_show {
		display: block;
	}

	&-greeting_show {
		display: block;
		z-index: 2;
	}
}
