.main {
	position: relative;
	bottom: 60px;
	@extend %flexCenter;
	flex-direction: column;
	flex: 1;
	user-select: none;

	@include desktop {
		bottom: 16px;
	}

	&__button {
		position: absolute;
		top: calc(50% - 16px);
		@include sizes(32px, 32px);
		background-color: transparent;
		cursor: pointer;

		&_prev {
			left: 4%;

			@include smallMobile {
				left: 1%;
			}
		}

		&_next {
			right: 4%;

			@include smallMobile {
				right: 1%;
			}
		}
	}
}
.data {
	@include flex($direction: column, $alignItems: center);
	user-select: none;

	&__time {
		padding: 6px;
		margin-bottom: 4px;
		border-radius: 15px;
		font-size: 100px;
		color: var(--white);
		background: var(--black-background);
		transition: opacity 0.5s ease;

		@include desktop {
			font-size: 90px;
		}

		@include tablet {
			font-size: 82px;
		}

		@include mobile {
			font-size: 74px;
			margin-bottom: 2px;
		}

		@include smallMobile {
			font-size: 62px;
		}
	}

	&__date {
		margin-bottom: 12px;
		font-size: 26px;
		color: var(--white);
		transition: opacity 0.5s ease;

		@include desktop {
			font-size: 22px;
			margin-bottom: 8px;
		}

		@include tablet {
			font-size: 20px;
		}

		@include mobile {
			margin-bottom: 6px;
			font-size: 16px;
		}

		&::first-letter {
			text-transform: uppercase;
		}
	}
}
.greeting {
	display: flex;
	justify-content: center;
	gap: 0 10px;
	width: 100vw;
	font-size: 38px;
	transition: opacity 0.5s ease;

	@include desktop {
		font-size: 34px;
	}

	@include tablet {
		font-size: 28px;
	}

	@include mobile {
		font-size: 24px;
	}

	@include smallMobile {
		font-size: 22px;
	}

	&__text {
		color: var(--white);
		user-select: none;
	}

	&__name {
		background: transparent;
		color: var(--white);
		letter-spacing: -0.6px;
		min-width: 10%;

		&:focus {
			box-shadow: 0px 1px 0px 0px var(--white);
		}
	}
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	@include sizes(70%, 70%);
	border: solid 1px rgb(138, 138, 138);
	border-radius: 8px;
	background: rgb(54, 54, 54);
	transform: translate(-50%, -50%);
	z-index: 3;

	&_show {
		@include flex($justify: center, $alignItems: center);
	}

	&__inner {
		font-size: 21px;
		letter-spacing: 1.5px;
		color: var(--white);
	}

	&__button {
		@include closeButton(35px, 35px, 20px);
	}

	&__shadow {
		position: fixed;
		display: none;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.8);
		z-index: 1;
		min-height: 100%;

		&_show-slider {
			display: block;
		}
		&_show-settings {
			display: block;
		}
	}
}
