.main {
	position: relative;
	@include flex($direction: column, $justify: center, $alignItems: center);
	bottom: 45px;
	flex: 1;

	&__button {
		position: absolute;
		top: calc(50% - 16px);
		@include sizes(32px, 32px);
		background-color: transparent;
		cursor: pointer;

		&_prev {
			left: 4%;
		}

		&_next {
			right: 4%;
		}
	}
}
.data {
	@include flex($direction: column, $alignItems: center);
	user-select: none;

	&__time {
		margin-bottom: 15px;
		border-radius: 15px;
		font-size: 100px;
		color: var(--white);
		background: var(--black-background);
	}

	&__date {
		margin-bottom: 15px;
		font-size: 28px;
		color: var(--white);

		&::first-letter {
			text-transform: uppercase;
		}
	}
}
.greeting {
	display: flex;
	gap: 0 10px;
	width: 100vw;
	font-size: 38px;

	&__text {
		color: var(--white);
		text-align: right;
		flex: 1;
	}

	&__name {
		flex: 1;
		max-width: 50%;
		background: transparent;
		color: var(--white);
		text-align: left;

		&::placeholder {
			color: rgb(200, 200, 200);
		}
	}
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	display: none;
	background: #d8d8d8;
	width: 700px;
	height: 250px;
	border-radius: 9px;
	transform: translate(-50%, -50%);
	z-index: 3;

	&_show {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__inner {
		font-size: 20px;
		color: black;
	}

	&__button {
		position: absolute;
		right: -35px;
		top: -33px;
		width: 35px;
		height: 35px;
		background: white;
		border-radius: 25%;
		cursor: pointer;
		font-size: 20px;
		transition: 5s ease;

		&::before {
			content: '✖';
			color: black;
		}
	}

	&__shadow {
		position: fixed;
		display: none;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.9);
		z-index: 1;
		min-height: 100%;

		&_show {
			display: block;
		}
	}
}
