.footer {
	flex: 0;
}

.quotes {
	@include flex($direction: column, $alignItems: center, $justify: center);
	color: var(--white);
	transition: opacity 0.5s ease;

	& svg {
		pointer-events: inherit;
	}

	&__change-btn {
		margin-bottom: 15px;
		@include sizes(32px, 32px);
		background: transparent;
		opacity: 0.8;
		transition:
			opacity 0.5s linear,
			transform 0.4s ease;

		@include hoverOrActive {
			opacity: 1;
		}
	}

	&__text {
		margin-bottom: 10px;
		font-size: 16px;
		text-align: center;
		user-select: none;
	}

	&__author {
		font-size: 15px;
		user-select: none;
	}
}
