.footer {
	flex: 0;
}

.quotes {
	@extend %flexCenter;
	flex-direction: column;
	color: var(--white);
	transition: opacity 0.5s ease;

	& svg {
		pointer-events: inherit;
	}

	&__change-btn {
		margin-bottom: 13px;
		@include sizes(34px, 34px);
		background: transparent;
		opacity: 0.8;
		transition:
			opacity 0.5s linear,
			transform 0.4s ease;

		@include desktop {
			margin-bottom: 11px;
			@include sizes(32px, 32px);
		}

		@include mobile {
			margin-bottom: 10px;
		}

		@include smallMobile {
			margin-bottom: 8px;
		}

		@include hoverOrActive {
			opacity: 1;
		}
	}

	&__text {
		margin-bottom: 8px;
		font-size: 17px;
		text-align: center;
		user-select: none;

		@include desktop {
			font-size: 16px;
		}

		@include tablet {
			font-size: 15px;
		}

		@include mobile {
			font-size: 14px;
		}

		@include smallMobile {
			margin-bottom: 6px;
			font-size: 13px;
		}
	}

	&__author {
		font-size: 15px;
		user-select: none;

		@include desktop {
			font-size: 14px;
		}

		@include tablet {
			font-size: 13px;
		}

		@include mobile {
			font-size: 12px;
		}

		@include smallMobile {
			font-size: 11px;
		}
	}
}
