.footer {
}

.quotes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--white);

	&__change-btn {
		margin-bottom: 20px;
		background: transparent;
		border: 0;
		outline: 0;
	}

	&__change-icon {
		width: 32px;
		height: 32px;
	}

	&__text {
		margin-bottom: 20px;
	}

	&__author {
	}
}
