$desktop: 1000px;
$tablet: 768px;
$mobile: 600px;
$smallMobile: 450px;
$smallestMobile: 380px;

@mixin desktop {
	@media only screen and (max-width: $desktop) {
		@content;
	}
}

@mixin tablet {
	@media only screen and (max-width: $tablet) {
		@content;
	}
}

@mixin mobile {
	@media only screen and (max-width: $mobile) {
		@content;
	}
}

@mixin smallMobile {
	@media only screen and (max-width: $smallMobile) {
		@content;
	}
}

@mixin smallestMobile {
	@media only screen and (max-width: $smallestMobile) {
		@content;
	}
}

@mixin hoverOrActive {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
	@media (hover: none) {
		&:active {
			@content;
		}
	}
}
