@mixin flex($direction: row, $wrap: nowrap, $justify: normal, $alignItems: normal, $gap: normal) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $alignItems;
	gap: $gap;
}

@mixin sizes($width, $height) {
	width: $width;
	height: $height;
}

@mixin closeButton($width, $height, $fs) {
	position: absolute;
	right: -35px;
	top: -33px;
	@include sizes($width, $height);
	background: var(--white);
	border-radius: 25%;
	cursor: pointer;
	font-size: $fs;
	transition: 0.3s ease;
	color: var(--black);

	&_hover {
		color: var(--blue);
	}

	@include hoverOrActive {
		color: var(--blue);
	}
}

@mixin volumeThumb {
	@include sizes(18px, 18px);
	margin-top: -7px;
	appearance: none;
	background-color: var(--blue);
	border: 0px solid var(--blue);
	border-radius: 50%;
	box-shadow: calc(-100vmax - 17.8px) 0 0 100vmax var(--blue);
	clip-path: var(--polygon);
}

@mixin volumeTrack {
	height: 4px;
	border-radius: 4px;
	border: 0px solid var(--white);
	box-shadow: 0px 0px 0px rgb(53, 53, 53);
	background: var(--white_215);
}
