@mixin flex($direction: row, $wrap: nowrap, $justify: normal, $alignItems: normal, $gap: normal) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $alignItems;
	gap: $gap;
}

@mixin sizes($width, $height) {
	width: $width;
	height: $height;
}

@mixin trackTime {
	position: absolute;
	bottom: 13px;
	user-select: none;
}

@mixin languageSelectWrapper {
	position: relative;
	line-height: 1.6;
	overflow: hidden;

	&:hover::after {
		color: var(--blue);
	}

	&::after {
		content: '\25BC';
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 6px;
		background: var(--black-background);
		cursor: pointer;
		pointer-events: none;
		transition: 0.25s color ease;
		color: var(--white);
	}
}

@mixin select {
	width: 180px;
	height: 26px;
	background: rgb(92, 102, 100);
	padding: 0 8px;
	color: var(--white);
	cursor: pointer;
	font-size: 16px;
	border-radius: 4px;
}

@mixin languageSelectIcon {
	position: absolute;
	right: 34px;
	width: 27px;
	pointer-events: none;
}
