%trackTime {
	position: absolute;
	top: 15px;
	user-select: none;

	@include desktop {
		top: 14px;
	}
	@include tablet {
		top: 11px;
	}
	@include mobile {
		top: 9px;
	}
}

%flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

%languageSelectWrapper {
	position: relative;
	overflow: hidden;

	&::after {
		content: '▼';
		position: absolute;
		top: 0;
		right: 0;
		@include sizes(28px, 28px);
		cursor: pointer;
		pointer-events: none;
		transition: 0.25s all ease;
		font-size: 24px;
		text-align: center;
		color: var(--white);

		@include tablet {
			@include sizes(26px, 26px);
			font-size: 22px;
		}

		@include mobile {
			@include sizes(28px, 28px);
			font-size: 24px;
		}
	}
}

%languageSelectIcon {
	position: absolute;
	right: 34px;
	width: 28px;
	height: 28px;
	pointer-events: none;

	@include tablet {
		@include sizes(26px, 26px);
		top: calc(50% - 13px);
	}

	@include mobile {
		top: calc(50% - 14px);
		@include sizes(28px, 28px);
	}
}

%languageSelect {
	@include sizes(190px, 28px);
	background: var(--grey);
	padding-left: 8px;
	color: var(--white);
	cursor: pointer;
	font-size: 17px;
	border-radius: 8px;

	@include tablet {
		@include sizes(170px, 26px);
		font-size: 15px;
	}

	@include mobile {
		@include sizes(230px, 28px);
		font-size: 17px;
	}

	@include smallMobile {
		font-size: 16px;
	}
}

%settingsDescriptionFont {
	font-size: 17px;
	letter-spacing: 0.3px;

	@include tablet {
		font-size: 15px;
	}

	@include mobile {
		font-size: 17px;
	}

	@include smallMobile {
		font-size: 16px;
	}
}

%playerOpacity {
	opacity: 0.8;
	transition: all 0.5s ease;
}
